credfiscal/target/m2e-wtp/web-resources/META-INF/maven/br.com.costa/credfiscal/pom.properties

*.component
credfiscal/.classpath
credfiscal/.settings/org.eclipse.wst.common.component
*.component
*.MF
credfiscal/target/m2e-wtp/web-resources/META-INF/maven/br.com.costa/credfiscal/pom.properties
credfiscal/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
credfiscal/.settings/org.eclipse.wst.common.component
credfiscal/.classpath
credfiscal/target/m2e-wtp/web-resources/META-INF/maven/br.com.costa/credfiscal/pom.properties
*.MF
credfiscal/.settings/org.eclipse.wst.common.component